[Desktop Entry]
Type=Application
Name=Davinci Resolve Studio
Comment=Professional Editing, Color, Effects and Audio Post!
Exec=com.blackmagicdesign.ResolveStudio %U
Icon=com.blackmagicdesign.ResolveStudio
MimeType=application/x-resolveproj;
Categories=AudioVideo;Audio;Video;
StartupNotify=true
PrefersNonDefaultGPU=true
